  div class="map_spaces"
    #map_spaces class="map_spaces"
      javascript:
        var handler = Gmaps.build('Google');
        handler.buildMap({internal: {id: 'map_spaces'}}, function(){
          if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(centerMap);
          } else {
            handler.map.centerOn(new google.maps.LatLng(-10.1885145,-48.3317027));
          }
          var markers = handler.addMarkers(#{raw @markers.to_json});
          handler.bounds.extendWith(markers);
        });



        function centerMap(position){
          handler.map.centerOn(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
        };
