@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/navigation";
@import "base/top_navigation";
@import "base/buttons";
@import "base/badgets_labels";
@import "base/elements";
@import "base/sidebar";
@import "base/base";
@import "base/pages";
@import "base/rtl";
@import "base/theme-config";
@import "base/skins";
@import "base/media";
@import "base/custom";
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import "bootstrap-sprockets";
@import "bootstrap";

.map_spaces {
  width: 100%;
  height: 100vh;
  position: relative;
}

.img-small{
  width: 48px;
  height: 48px;
}

.login-modal-size{
  width: 90%;
  height: 90%;
}


